site_name: Hardware Synthesis Lab 2025
site_url: https://2110363-HW-SYN-LAB.github.io/2025-docs
repo_url: https://github.com/2110363-HW-SYN-LAB/2025-docs

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - content.code.copy
    - toc.integrate
    - navigation.top
  palette:
    scheme: default

nav:
  - Home: index.md
  - Installation: installation/Icarus-GTKWave.md

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - attr_list
  - pymdownx.arithmatex

plugins:
  - search
